[submodule "fc-product-service"]
	path = fc-product-service
	url = git@github.com:agus-wesly/fc-product-service.git
    branch = main
[submodule "fc-order-service"]
	path = fc-order-service
	url = git@github.com:agus-wesly/fc-order-service.git
    branch = main
[submodule "fc-gateway"]
	path = fc-gateway
	url = git@github.com:agus-wesly/fc-gateway.git
    branch = main
